[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
automationhat = "*"
phue = "*"
argparse = "*"
twilio = "*"
configparser = "*"

[requires]
python_version = "3"
